.navbar{
    background-color: #C8C8C8;
}

.quem-somos{
    background-color: #D3D3D3 ;
}
 .margin{
    padding-bottom: 50px;
    padding-top: 10px;
 }
 .parceiros{
    background-color: #3B3B3B;
    color: white;
 }

 .bg-footer{
    background-color: black;
    color: white;
 }